@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body,
html {
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display';
    height: 100%;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    width: 100%;
    height: 50px;
    background-color: #000;
    border-top: #EDC382 3px solid;
    border-bottom: #EDC382 3px solid;

}

.header span {
    color: #EDC382;
    text-shadow: #EDC382 0 0 10px;
    font-size: 30px;

}

.header-container {
    display: flex;
    justify-content: space-between;
}

/* .body {
    position: absolute;
    z-index: 1;
    overflow: hidden;

    background-color: #000;
    color: #EDC382;
    text-shadow: #EDC382 0 0 10px;
    padding: 10px;

    height: 100%;
}

.body:before {
    content: ' ';
    z-index: -1;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image: url('../img/back.jpg');
    background-repeat: repeat;
    background-position: 50% 0;
    background-size: auto;
} */
.content {
    z-index: 10;
    position: relative;
}

.body {
    background-color: #000;
    color: #EDC382;
    text-shadow: #EDC382 0 0 10px;
    padding: 10px;
}

.body::before {
    content: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod repellat optio dicta possimus natus. Ea, fugiat soluta totam natus vero suscipit libero distinctio nesciunt itaque, atque tempore cumque numquam veritatis officia nostrum laudantium? Itaque cum repellendus dicta dolore obcaecati ut quas? Similique vitae distinctio sed iure voluptates minima sequi at veritatis iste. Exercitationem perferendis molestias, eum, delectus laudantium velit eligendi facilis corrupti expedita nam tempore doloribus fugit consequatur debitis, voluptatum minima reiciendis repellat earum porro sunt necessitatibus aliquid quos nesciunt inventore. Repellendus sed a sunt aut, facilis numquam laudantium tenetur hic ratione blanditiis, consectetur doloribus nobis odit, et repellat dolore at sapiente molestiae rerum. Illum perspiciatis soluta temporibus, et autem, id ad quaerat asperiores ipsum, facere explicabo! Architecto illo nam eum nulla facilis qui, magni, aspernatur ipsa officia commodi consequuntur, reiciendis explicabo veritatis fugit mollitia modi. Dolorem corrupti magnam nostrum ipsum. Ex, iusto qui exercitationem suscipit harum tenetur assumenda velit itaque, obcaecati quasi aliquam aspernatur inventore et dolorem quas, aliquid est fugit nisi? Exercitationem alias quaerat et dolore, explicabo esse voluptate nulla, pariatur officiis ipsa voluptatem asperiores dolor voluptas aut deleniti ducimus? Inventore modi et voluptate! Mollitia exercitationem omnis sequi. Obcaecati nulla sapiente mollitia suscipit porro harum, architecto veniam non praesentium voluptates quam possimus saepe in neque ut, quibusdam maiores distinctio repudiandae dicta explicabo odio! Excepturi, inventore. Voluptates, placeat totam delectus explicabo sapiente fugit quidem asperiores fuga animi veritatis laboriosam minus doloremque modi, quaerat mollitia. Sint eum eaque dolores eius quasi, architecto dolore atque. Veniam, voluptates amet. Reiciendis ipsam, voluptatum earum, assumenda, suscipit blanditiis doloremque distinctio magnam sunt enim vero quaerat animi possimus. Porro delectus, veniam quod consectetur soluta dolores quas aut sunt sequi, sed repudiandae, molestias optio ex aliquid ratione quibusdam explicabo facilis perferendis nobis maxime. Eos magnam, dolorem ducimus, facilis nobis qui incidunt necessitatibus labore officia explicabo ipsa voluptatem? Ipsum quae, sapiente voluptatibus molestiae dolores rem quos obcaecati quidem expedita rerum. Libero dolore, doloribus iste id illo accusantium perspiciatis ex atque natus nostrum, doloremque, culpa rem corrupti eaque soluta eos neque eveniet harum fugit cum. Totam ab enim aperiam ipsa voluptatibus ad quasi qui dolores mollitia modi ex voluptatem ut, neque beatae veritatis, ipsum assumenda eveniet. Quo eligendi earum tempora placeat magni, assumenda, voluptates odio quia pariatur possimus facilis cumque ea dolor ipsam ab, est aliquid necessitatibus explicabo. Fuga accusamus veritatis quis nam nobis quasi placeat, officiis iste ullam pariatur ad iusto qui magnam explicabo ea illo molestiae! Quae consequatur nemo laborum velit eaque excepturi sed architecto repudiandae autem. Soluta aliquam ducimus repudiandae sint. Odio corporis, cupiditate molestias incidunt saepe tenetur adipisci ad fugiat, nostrum velit culpa quis earum. Culpa facilis itaque beatae perspiciatis ipsum alias sint doloribus perferendis doloremque possimus. Assumenda veritatis ipsa iusto harum tempora at repellendus natus odio nihil consequatur eligendi ratione amet odit doloribus soluta voluptate ab, eum similique pariatur deserunt vero! Praesentium nihil ut, aliquam ipsum ipsa cumque ad cupiditate quae corporis perspiciatis nostrum deserunt tenetur nobis doloremque, voluptates mollitia dolorem velit quas. Officiis consectetur id soluta culpa nihil laboriosam, ipsum cum sed dolore minima architecto? Obcaecati praesentium iure dolores explicabo iste tempora sit similique illo sequi magnam officiis odit, ratione quibusdam reiciendis cum illum facere nam, velit, a eum asperiores! Laborum molestias voluptatum quod ipsum eos deleniti doloribus obcaecati repellendus eum, beatae deserunt dolorem ipsa fugiat aspernatur iusto inventore alias totam facilis veniam at quas. Laborum, minima perspiciatis dolorum rerum perferendis odit quisquam velit ipsam ea omnis distinctio sint repudiandae? Amet eius nulla vitae dolorum, voluptatem perferendis impedit incidunt quam commodi assumenda quis cupiditate voluptate magnam pariatur ea, tempora quia modi, beatae sint deserunt consequatur? Laudantium, aliquid in? Et ad quis animi vel inventore asperiores impedit blanditiis quos fugiat esse voluptas eos cupiditate, sint alias at, accusamus unde hic, cum omnis itaque porro saepe a praesentium. Sequi, vel alias dignissimos eos obcaecati itaque ipsum hic nostrum saepe commodi, quidem voluptatum. Porro fugit recusandae vitae dolores culpa ex veniam, similique odio deserunt, explicabo quae fugiat ullam sed, reprehenderit perferendis velit. Illum quibusdam odio impedit aperiam. Voluptas fugit modi consectetur est, facere eligendi doloremque omnis nulla delectus quas reiciendis ipsa minus ad itaque accusantium sunt blanditiis numquam cum magnam vel cumque voluptatibus iusto totam officiis. Quas odit, ex architecto totam quia culpa aperiam quo delectus maiores omnis odio, consequuntur a fuga dolor nisi quisquam animi expedita debitis placeat dolorum, repudiandae sed? Quaerat itaque incidunt iste autem ullam, dolores sed tenetur numquam soluta odio adipisci voluptas provident ducimus, suscipit distinctio optio perspiciatis, labore consequuntur? Quia dolor, delectus fugiat eum veniam cupiditate beatae quaerat, quam numquam maxime voluptas aliquid totam doloribus natus quasi, quibusdam at nam hic. Autem deserunt et rem accusantium vel nulla, eum sit. Nostrum eum excepturi, quasi eos in ullam deserunt sed enim nobis optio repellendus tempore exercitationem veritatis sunt iure? Quas rerum autem placeat culpa incidunt, porro qui libero sint suscipit dolorem inventore ad dicta hic dolore consequuntur id perspiciatis ipsum, saepe dignissimos maxime ducimus harum cum? Consequuntur sunt facere asperiores cum corporis maiores veniam iusto dicta assumenda libero a, eius aliquid, dolorem rem velit consequatur rerum reiciendis! Dolor sapiente blanditiis sed, odit fugit labore facere aut doloremque architecto nesciunt voluptas ducimus expedita reprehenderit id earum molestias eveniet ipsam quos dolorem, minus nisi! Soluta atque eius officiis eum similique, accusamus suscipit debitis eveniet culpa harum sint impedit obcaecati minima facere aut laborum quod aperiam unde quidem consectetur ipsa veritatis excepturi consequatur commodi? Asperiores, assumenda. Ea, odit ipsam eaque quisquam quas iusto fugit at culpa est ab. Quo sit ipsam accusamus eligendi autem! Deserunt aut atque quis eligendi debitis ab nisi, consequuntur inventore voluptates recusandae asperiores quas accusantium natus facere? Ex odio molestiae deserunt voluptatum fugiat quibusdam excepturi delectus laboriosam omnis! Sequi omnis non eaque officiis reiciendis harum modi eum qui et, nesciunt similique nihil perspiciatis labore sint! Ipsa numquam quasi ex veritatis, temporibus autem? Cumque, quo neque nesciunt, sequi ea ratione pariatur, laborum nulla omnis alias at vel cum sapiente molestias corrupti voluptatum modi labore expedita? Neque quisquam ducimus rerum quod consectetur unde maiores sapiente quis dolor porro aliquid laudantium, recusandae inventore.";
    position: absolute;
    opacity: 0.15;
    font-size: 48px;
    overflow: hidden;
    text-align: justify;
}

.body strong,
p {
    font-size: 20px;
}

.footer {
    width: 100%;
    height: 50px;
    background-color: #000;
    border-top: #EDC382 3px solid;
    border-bottom: #EDC382 3px solid;
    z-index: 10;
}











@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}