{% extends 'blog/base.html' %}

{% block title %}
Создать пост
{% endblock %}

{% block content %}
<form class="form" method="post">
    {% csrf_token %}
    <div>
        <label class="label" for="title">Название</label>
        <input class="input" type="text" name="title" id="title">
    </div>

    <div>
        <label class="label" for="desc">Описание</label>
        <input class="input" type="text" name="desc" id="desc">
    </div>

    <label class="label" for="content">Содержимое</label>
    <textarea class="textarea" name="content" id="content" spellcheck="false"></textarea>

    <button class="button">Создать</button>
</form>

{% endblock %}