{% extends 'blog/base.html' %}

{% block title %}
Вход
{% endblock %}

{% block content %}

<form action="" method="post">
    {% csrf_token %}
    <div style="display: flex; flex-direction: column; gap: 10px;">
        <label class="label" for="login">Login</label>
        <input class="input" type="text" name="login" id="login">

        <label class="label" for="password">Password</label>
        <input class="input" type="password" name="password" id="password">
        <button class="button">Войти</button>
        {%if login_err%}
        <span style="color:red">Неверные данные</span>
        {%endif%}
        <a href="{% url 'register' %}">Зарегистрироваться</a>
    </div>
</form>

{% endblock %}