{% extends 'blog/base.html' %}

{% block title %}
Создать пост
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div>
        <label for="title">Название</label>
        <input type="text" name="title" id="title" value="{{post.title}}">
    </div>

    <div>
        <label for="desc">Описание</label>
        <input type="text" name="desc" id="desc" value="{{post.description}}">
    </div>

    <label for="content">Содержимое</label>
    <textarea class="content" name="content" id="content" spellcheck="false">{{post.content}}</textarea>

    <button>Изменить</button>
</form>
{% endblock %}