{% extends 'blog/base.html' %}

{% block title %}
Создать пост
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div>
        <label class="label" for="title">Название</label>
        <input class="input" type="text" name="title" id="title" value="{{post.title}}">
    </div>

    <div>
        <label class="label" for="desc">Описание</label>
        <input class="input" type="text" name="desc" id="desc" value="{{post.description}}">
    </div>

    <label class="label" for="content">Содержимое</label>
    <textarea class="content textarea" name="content" id="content" spellcheck="false">{{post.content}}</textarea>

    <button class="button">Изменить</button>
</form>
{% endblock %}